@model OnlineBookStoreUser.Models.Customers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Edit Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<br />
<br />
<div class="card" align="justify" style="width: 300px;float:left"><br /><br />
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a>Purchased E-Book Repository</a></li>
        <li class="list-group-item"><a href="#news">Order</a></li>
        <li class="list-group-item"><a href="#contact">Shipping Address</a></li>
        <li class="list-group-item"><a href="#about">Cart</a></li>
        <li class="list-group-item"><a href="#about">Change Password</a></li>

    </ul>
</div>

<div class="card" align="justify" style="width: 800px;float:right">
  
    <div class="card-body">
       


    </div><form asp-controller="Customers" asp-action="Edit">
              <ul class="list-group list-group-flush">
                  @Html.HiddenFor(model => model.CustomerId)
                  <li class="list-group-item">First Name :  <input type="text" asp-for="FirstName" class="form-control" /></li>
                  <li class="list-group-item">Last Name : <input type="text" asp-for="LastName" class="form-control" /></li>
                  @*<li class="list-group-item">UserName : <input type="text" asp-for="UserName" class="form-control" /></li>
        <li class="list-group-item">Password : <input type="password" asp-for="Password" class="form-control" /></li>
        <li class="list-group-item">Email : <input type="text" asp-for="Email" class="form-control" /></li>
        <li class="list-group-item">Address : <input type="text" asp-for="Address" class="form-control" /></li>
        <li class="list-group-item">Zipcode : <input type="text" asp-for="ZipCode" class="form-control" /></li>
        <li class="list-group-item">Contact : <input type="text" asp-for="Contact" class="form-control" /></li>*@
                  <li class="list-group-item">Email : <input type="text" asp-for="Email" class="form-control" /></li>
                  <li class="list-group-item">Contact : <input type="text" asp-for="Contact" class="form-control" /></li>
              </ul>
    

    <input type="submit" value="Edit" class="btn btn-primary" />
</form>
    
</div>





