@model IEnumerable<OnlineBookStoreUser.Models.OrderBooks>
@{
    ViewData["Title"] = "Repository";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-controller="Customers" asp-action="UpdateProfile">Profile</a></li>
                    <li class="list-group-item"><a href="#news">Order</a></li>
                    <li class="list-group-item"><a href="#contact">Shipping Address</a></li>
                    <li class="list-group-item"><a href="#about">Cart</a></li>
                    <li class="list-group-item"><a href="#about">Change Password</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-4 shadow-sm">

            <li class="list-group-item">
                <p> <center><h3><b>Basic Information</b></h3></center></p>
            </li>
            <div class="card-body">
                <li class="list-group-item">
                    <center>
                        @foreach (var item in ViewBag.ob)
                        {
                            <h5 class="card-title">
                                Book Name :  @item.Books.BookName
                                <a class="btn btn-sm btn-outline-secondary">Download </a>
                            </h5>
                        }



                    </center>
                </li>
                <li class="list-group-item">
                    <p> <center><a asp-controller="Customers" asp-action="Edit" class="btn btn-sm btn-outline-secondary">Edit </a></center></p>
                </li>



            </div>
        </div>
    </div>
</div>

