
@{
    ViewData["Title"] = "UpdateProfile";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}


@*<div class="card text-white bg-primary mb-3" style="max-width: 8rem;">

    <div class="card bg-light mb-3" style="max-width: 18rem;">

        <div class="card-body">


                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
                </ul>

            </div>
        </div>

    </div>*@


<div class="row">
    <div class="card-group">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" img src="~/images/profile.png"><a href="#home">Profile</a></li>
                <li class="list-group-item"><a href="#news">Order</a></li>
                <li class="list-group-item"><a href="#contact">Saved Address</a></li>
                <li class="list-group-item"><a href="#about">Cart</a></li>
                <li class="list-group-item"><a href="#about">Change Password</a></li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" img src="~/images/profile.png"><a href="#home">Profile</a></li>
                <li class="list-group-item"><a href="#news">Order</a></li>
                <li class="list-group-item"><a href="#contact">Saved Address</a></li>
                <li class="list-group-item"><a href="#about">Cart</a></li>
                <li class="list-group-item"><a href="#about">Change Password</a></li>
            </ul>
        </div>
    </div>
</div>

